<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group.sample.advanced.rrk.com.advancedsamplegroupapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivityJava">
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".MainListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".samples.IdentifyActivity" />
        <activity android:name=".samples.QueryContentsProviderActivity" />
        <activity android:name=".samples.OpenViewPagerActivity" />
        <activity android:name=".samples.widget.ConstraintLayoutListActivity" />
        <activity android:name=".samples.database.GetAllOfItems" />
        <activity android:name=".samples.database.GetAllOfMusicItemsActivity" />
        <activity android:name=".samples.ButterKnifeExampleActivity" />
        <activity android:name=".samples.widget.TextInputLayoutCustomActivity" />
        <activity android:name=".samples.widget.TypeFaceActivity" />
        <activity android:name=".samples.charsample.MpAndroidChartListActivity" />
        <activity android:name=".samples.charsample.MpAndroidChartListJavaActivity" />
        <activity android:name=".samples.charsample.LinearChartOneActivity" />
        <activity android:name=".samples.charsample.BarChartActivity" />
        <activity android:name=".samples.charsample.SampleDayOfKW" />
        <activity android:name=".samples.mvp.MvpGroupActivity" />
        <activity android:name=".samples.WebViewTesterActivity" />
        <activity android:name=".samples.RSSActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c34004616c9989d5a6769716e715aa0c9ee96d8c" />

        <activity android:name=".samples.CrashActivity" />
        <activity android:name=".samples.JSoupActivity" />
        <activity android:name=".cradle.WebViewActivity" />
        <activity android:name=".cradle.MainParseActivity" />
        <activity android:name=".samples.widget.CoordinatorSamples" />
        <activity
            android:name=".samples.widget.FabAndSnackBarActivity"
            android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar" />
        <activity android:name=".samples.widget.FabScrollBehavior" />
        <activity android:name=".samples.mvp.TaeWonActivity"></activity>
    </application>

</manifest>